<footer id="bottom">
    <div class="container">
        <div class="row">
            <div class="seven columns nav u-pull-right">
                <ul class="u-pull-right">
                    <li>
                        <a href="https://silkedit-slack.herokuapp.com/">
                            <div class="navMenuWithLogo">
                                <img src="/static/img/slack.png">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/silkedit">
                            <div class="navMenuWithLogo">
                                <img src="/static/img/twitter.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="five columns">
                <div id="copyright">
                    <div class="brand">SilkEdit</div>
                    <div class="rights">
                        Copyright (c) 2017 SilkEdit All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
