<header id="top">
    <div class="container">
        <div class="row">
            <div class="three columns logo">
                <a href="/"><img src="static/img/logo.png"></a>
            </div>
            <div class="nav nine columns">
                <ul class="u-pull-right">
                    <li><a href="/release">Release</a></li>
                    <li><a href="/docs/api/latest/">Documantation</a></li>
                    <li>
                        <a href="https://silkedit-slack.herokuapp.com/">
                            <div class="navMenuWithLogo">
                                <img src="static/img/slack.png">
                                <div>Forum</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/silkedit">
                            <div class="navMenuWithLogo">
                                <img src="static/img/twitter.png">
                                <div>Twitter</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
