<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%- blocks.title %>SilkEdit.io</title>
    <meta property="og:title" content="SilkEdit" />
    <meta property="og:description" content="シンプルでモダンなテキストエディタ" />
    <meta property="og:site_name" content="SilkEdit.io" />
    <meta property="og:image" content="http://silkedit.io/static/img/icon.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://silkedit.io" />
    <meta name="keywords" content="エディタ Editer " />
    <meta name="description" content="シンプルでモダンなテキストエディタ" />
    <meta name="robots" content="noodp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
    <link href="/static/vendor/stylesheets/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/stylesheets/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
