<% layout('../layout/base') -%>
<% block('title', "") -%>

<section class="container row heroBox">
    <div class="heroMessage three columns">
        <h1>SilkEdit</h1>
        <p>
            シンプルでモダンなテキストエディタ
        </p>
        <div class="heroDownLoadBox">
            <a class="button" href="download/latest/SilkEdit.dmg">
                Download Beta
            </a>
            <p class="versionSupport">OSX 10.9 or later</p>
        </div>
    </div>
    <div class="heroImage nine columns">
        <img src="/static/img/heroEditerImage.jpg">
    </div>
</section>
<section class="sectionGray">
    <div class="container">
        <div class="row">
            <div class="four columns featureBox">
                <h2 class="featureHeadline">日本語サポート</h2>
                <p class="featureDetail">
                    日本語のメニュー<br/>
                    エンコーディング自動判定<br/>
                    見やすい日本語フォントをバンドル
                </p>
            </div>
            <div class="four columns featureBox">
                <h2 class="featureHeadline">クロスプラットフォーム</h2>
                <p class="featureDetail">
                    Mac OS X, Windows, Linuxで動作<br/>
                    (Windows, Linux版は開発中)
                </p>
            </div>
            <div class="four columns featureBox">
                <h2 class="featureHeadline">テーマ</h2>
                <p class="featureDetail">
                    20種類以上のテーマから選択可能<br/>
                    新規テーマも作成可能
                </p>
            </div>
        </div>
        <div class="row">
            <div class="four columns featureBox">
                <h2 class="featureHeadline">ノンストレス</h2>
                <p class="featureDetail">
                    高速な起動<br/>
                    タブの復元
                </p>
            </div>
            <div class="four columns featureBox">
                <h2 class="featureHeadline">カスタマイズ</h2>
                <p class="featureDetail">
                    便利なパッケージを簡単にインスール<br/>
                    思い通りのショートカット
                </p>
            </div>
            <div class="four columns featureBox">
                <h2 class="featureHeadline">開発補助</h2>
                <p class="featureDetail">
                    40種類以上の<br/>
                    プログラミング言語をサポート<br/>
                    オートインデント
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sectionWhite">
    <div class="container row">
        <div class="six columns imageColumn">
            <img src="/static/img/markdownPreview.jpg">
        </div>
        <div class="six columns">
            <h2>マークダウン</h2>
            <p>
                マークダウンプレビューが内蔵<br/>
                編集しながら確認
            </p>
        </div>
    </div>
</section>
<section class="sectionGray">
    <div class="container">
        <h2 class="h2Center">好きなテーマを選ぶ</h2>
        <div class="themeSamples">
            <img class="themeSampleImg" src="/static/img/themes/amy.jpg">
            <img class="themeSampleImg" src="/static/img/themes/cobalt.jpg">
            <img class="themeSampleImg" src="/static/img/themes/espressoLibre.jpg">
            <img class="themeSampleImg" src="/static/img/themes/solarizedLight.jpg">
            <img class="themeSampleImg" src="/static/img/themes/tomorrowNightEighties.jpg">
        </div>
    </div>
</section>
