<section class="container">
    <h2>バージョン 0.13.1</h2>
    <div class="release-date">リリース日: 2016/08/09</div>
    バージョン0.13.1を公開しました。本バージョンは0.13.0のバグフィックス版となります。<br><br>

    <ul>
      <li><a href="https://silkedit.io/download/0.13.1/SilkEdit.dmg">OS X</a></li>
      <li><a href="https://silkedit.io/download/0.13.1/SilkEdit Setup x64.exe">Windows 64 bit</a></li>
      <li><a href="https://silkedit.io/download/0.13.1/SilkEdit Setup x86.exe">Windows 32 bit</a></li>
    </ul>

    <h4>主な変更点</h4>
    <ul>
      <li>Mac: 空のタブがある状態で終了するとクラッシュする問題の修正</li>
      <li>マークダウンプレビューでファイルごとにプレビューを開けるよう修正</li>
      <li>Win: NODE_PATH環境変数が設定されているとマークダウンプレビューが動作しない問題の修正</li>
      <li>単語単位のカーソル移動の修正</li>
    </ul>

    現在ベータ版のため、自己責任でご利用下さい。要望や何かバグを発見された場合は<a href=https://silkedit-slack.herokuapp.com>Slack</a>もしくは<a href="https://twitter.com/silkedit">Twitter</a>でお知らせ頂けると助かります。
</section>

