<section class="container">
    <h2>バージョン 0.12.3</h2>
    <div class="release-date">リリース日: 2016/05/07</div>
    <a href="http://silkedit.io/download/0.12.3/SilkEdit.dmg">Mac版</a>をパブリックベータとして公開しました。<br><br>
    SilkEditはシンプルでモダンなインターフェースを持ち、クロスプラットフォームで動作する新しいテキストエディタです。開発者は日本人なので日本語対応もばっちりです！<br>
    現在日本語対応が充実しているエディタはWindowsでは<a href="http://hide.maruo.co.jp/software/hidemaru.html">秀丸</a>、<a href="http://sakura-editor.sourceforge.net/">サクラエディタ</a>、Macでは<a href="https://coteditor.com/">Cot Editor</a>、<a href="http://www.mimikaki.net/">mi</a>など様々なものがありますが、Windows, Mac双方で使えるクロスプラットフォームなエディタが存在しませんでした。<br>
    海外製のクロスプラットフォームなエディタでは<a href="https://www.sublimetext.com/">Sublime Text</a>, <a href="https://atom.io/">Atom</a>等ありますが、これらのエディタはメニューが英語であったり日本語の処理に弱いため、英語が苦手なユーザや日本語をよく扱うユーザには使い勝手があまりよくありません。<br>
    また、開発者向けのエディタが多く、設定をダイアログでなくテキストファイルで記述するなど、開発者以外には扱いづらいインターフェースとなっているものもあります。<br>
    これらの問題点を踏まえ、SilkEditはクロスプラットフォーム、日本語対応の充実、開発者以外にも使いやすいインタフェースを特徴としています。さらに、開発者の方はJavaScript(Node.js)でエディタを自由にカスタマイズできるようになっています。<br>
    <br>
    現在ベータ版のため、自己責任でご利用下さい。何かバグを発見された場合は<a href=https://silkedit-slack.herokuapp.com>Slack</a>もしくは<a href="https://twitter.com/silkedit">Twitter</a>でお知らせ頂けると助かります。Windows, Linux版は現在開発中で、Windowsのベータ版は近日リリース予定です。
</section>

