<section class="container">
    <h2>バージョン 0.13.0</h2>
    <div class="release-date">リリース日: 2016/07/28</div>
    バージョン0.13.0を公開しました。本バージョンはMacだけでなくWindowsにも対応しています。<br><br>

    <ul>
      <li><a href="https://silkedit.io/download/0.13.0/SilkEdit.dmg">OS X</a></li>
      <li><a href="https://silkedit.io/download/0.13.0/SilkEdit Setup x64.exe">Windows 64 bit</a></li>
      <li><a href="https://silkedit.io/download/0.13.0/SilkEdit Setup x86.exe">Windows 32 bit</a></li>
    </ul>

    <h4>主な変更点</h4>
    <ul>
      <li>Windows対応</li>
      <li>カーソルを点滅させるようにした</li>
      <li>分割メニュー追加</li>
      <li>タブを全て閉じてもウィンドウを閉じないようにした</li>
      <li>プロジェクトビューで削除時に確認画面を出すようにした</li>
      <li>PHPのシンタックスハイライトを追加</li>
      <li>マークダウンプレビューをトグルするようにした</li>
      <li>単語単位の移動で行頭、行末で止まるように変更</li>
    </ul>

    <h4>パッケージ開発者向けの主な変更点</h4>
    <ul>
      <li>パッケージ名入力ダイアログで英数字しか入力できないようにした</li>
      <li><a href="http://silkedit.io/docs/api/latest/module-silkedit.WebChannel.html">WebChannel</a>、<a href="http://silkedit.io/docs/api/latest/module-silkedit.WebPage.html">WebPage</a>、<a href="http://silkedit.io/docs/api/latest/module-silkedit.Validator.html">Validator</a> API追加</li>
      <li>内蔵のNode.jsをv6.1にアップグレード</li>
    </ul>

    現在ベータ版のため、自己責任でご利用下さい。何かバグを発見された場合は<a href=https://silkedit-slack.herokuapp.com>Slack</a>もしくは<a href="https://twitter.com/silkedit">Twitter</a>でお知らせ頂けると助かります。
</section>

