<section class="container">
    <h2>ダウンロード</h2>
    <p>最新版を以下のリンクからダウンロードできます。</p>
    <ul>
        <li><a href="https://silkedit.io/download/latest/SilkEdit.dmg">OS X</a></li>
        <li><a href="https://silkedit.io/download/latest/SilkEdit Setup x64.exe">Windows 64 bit</a></li>
        <li><a href="https://silkedit.io/download/latest/SilkEdit Setup x86.exe">Windows 32 bit</a></li>
    </ul>
</section>
