<section class="container">
    <div id="twitterWidget">
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://sillkedit.io/release" data-lang="ja" data-hashtags="silkedit">ツイート</a>
    </div>
    <h2>ダウンロード</h2>
    <p>最新版を以下のリンクからダウンロードできます。</p>
    <ul>
        <li><a href="https://github.com/silkedit/silkedit/releases/download/v0.13.1/SilkEdit_osx.dmg">OS X</a></li>
        <li><a href="https://github.com/silkedit/silkedit/releases/download/v0.13.1/SilkEdit_Setup_x64.exe">Windows 64 bit</a></li>
        <li><a href="https://github.com/silkedit/silkedit/releases/download/v0.13.1/SilkEdit_Setup_x86.exe">Windows 32 bit</a></li>
    </ul>
</section>
